*{
    font-family: 'Montserrat', sans-serif;
}

.blurImg{
    filter: blur(2.5px);
}

.parallax-container{
    //permet d'avoir une hauteur de 80% de l'écran
    height: 80vh!important; 
    nav{
        position: fixed;
        background-color: rgba($color: #000000, $alpha: 0.0)!important;  
        //enlève la box shadow sur la navbar 
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0)!important;
        z-index: 99999;
        a{
            color: white;
            font-weight: bold;
            font-size: 2vh;
        }
    }
}
.header{
    //permet d'aligner tout les textes contenus dans la div
    text-align: center;
    background-color: rgba($color: #000000, $alpha: 0.0)!important; 
    //position en x0 et y0 la div est collé en haut à gauche et à une largueur de 100 de l'écran;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    .myName{
        margin-top: 22vh; 
        margin-bottom: 12vh;
        background-color: rgba($color: #000000, $alpha: 0.0)!important;
        h1{
            color: black!important;
            font-weight: bold!important;
        }
    }
    .myJob{
        margin-top: 0vh;
        background-color: rgba($color: #000000, $alpha: 0.0)!important;
        h2{
            color: black!important;
            font-weight: bold!important;
        }
    }
}
////Carousel 
.carousel-slider{
    .carousel-item{
        height: 67.1vh!important;
        h2{
            font-size: 6vh!important;
            font-weight: bold!important;
            padding-top: 5vh;
        }
    }
}

