* {
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-x: hidden !important;
}

.pm0 {
  padding: 0 !important;
  margin: 0 !important;
}

.noShadow {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.left-text {
  text-align: left;
}

.center-text {
  text-align: center;
}

.bold {
  font-weight: bold !important;
}

.blurImg {
  -webkit-filter: blur(2.5px);
          filter: blur(2.5px);
}

.none {
  display: none;
}

.trans {
  background-color: rgba(0, 0, 0, 0) !important;
}

.gris {
  color: #dad8d8;
}

.parallax-container {
  height: 80vh !important;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
  .parallax-container {
    height: 71vh !important;
  }
}

.parallax-container nav {
  position: fixed;
  background-color: rgba(0, 0, 0, 0) !important;
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0) !important;
          box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0) !important;
  z-index: 99999;
}

.parallax-container nav a {
  color: white;
  font-weight: bold;
  font-size: 2vh;
}

.parallax-container nav .hide-on-med-and-down a {
  background-color: rgba(17, 16, 16, 0.5);
}

.parallax-container nav .hide-on-med-and-down a:hover {
  background-color: rgba(17, 16, 16, 0.2);
}

.header {
  text-align: center !important;
  background-color: rgba(0, 0, 0, 0) !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw !important;
}

.header .myName {
  margin-top: 25vh;
  margin-bottom: 20vh;
  background-color: rgba(0, 0, 0, 0) !important;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
  .header .myName {
    margin-top: 20vh;
    margin-bottom: 15vh;
  }
}

.header .myName h1 {
  color: black !important;
  font-size: 10vh;
  font-weight: bold !important;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
  .header .myName h1 {
    font-size: 7vh;
  }
}

.header .myJob {
  margin-top: 5vh;
  background-color: rgba(0, 0, 0, 0) !important;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
  .header .myJob {
    margin-top: 0vh;
  }
}

.header .myJob h2 {
  color: black !important;
  font-weight: bold !important;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
  .header .myJob h2 {
    font-size: 5vh;
  }
}

.carouselMainDiv {
  height: 82vh !important;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
  .carouselMainDiv {
    height: 80vh !important;
  }
}

.carouselMainDiv .carousel-slider {
  height: 82vh !important;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
  .carouselMainDiv .carousel-slider {
    height: 80vh !important;
  }
}

@media screen and (min-width: 100px) and (max-width: 600px) {
  .carouselMainDiv .carousel-slider .carousel-fixed-item {
    margin-bottom: 0;
  }
}

.carouselMainDiv .carousel-slider .carousel-fixed-item h3 {
  font-size: 4.2vh;
  font-weight: bold;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
  .carouselMainDiv .carousel-slider .carousel-fixed-item h3 {
    font-size: 2.5vh;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .carouselMainDiv .carousel-slider .carousel-fixed-item h3 {
    font-size: 2.5vh;
  }
}

.carouselMainDiv .carousel-slider .carousel-fixed-item a {
  font-size: 2.4vh;
  font-weight: bold;
  padding: 0 1vw 0 1vw !important;
}

.carouselMainDiv .carousel-slider .carousel-fixed-item a:hover {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
  .carouselMainDiv .carousel-slider .carousel-fixed-item a {
    font-size: 1.7vh;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .carouselMainDiv .carousel-slider .carousel-fixed-item a {
    font-size: 2.5vh;
  }
}

.carouselMainDiv .carousel-slider .carousel-item a:hover {
  color: #e0e0e0 !important;
}

.carouselMainDiv .carousel-slider .carousel-item h2 {
  font-size: 6vh !important;
  font-weight: bold !important;
  padding-top: 3vh !important;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
  .carouselMainDiv .carousel-slider .carousel-item h2 {
    font-size: 3.9vh !important;
    padding-top: 1.5vh !important;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .carouselMainDiv .carousel-slider .carousel-item h2 {
    font-size: 4.4vh !important;
    padding-top: 1.5vh !important;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.carouselMainDiv .carousel-slider .carousel-item h3 {
  font-size: 4.4vh !important;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
  .carouselMainDiv .carousel-slider .carousel-item h3 {
    font-size: 2.8vh !important;
    padding-top: 1vh !important;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .carouselMainDiv .carousel-slider .carousel-item h3 {
    font-size: 3.3vh !important;
    padding-top: 1vh !important;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.carouselMainDiv .carousel-slider .carousel-item h5 {
  font-size: 2.6vh !important;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
  .carouselMainDiv .carousel-slider .carousel-item h5 {
    font-size: 2.05vh !important;
    padding-top: 1vh !important;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .carouselMainDiv .carousel-slider .carousel-item h5 {
    font-size: 2.3vh !important;
    padding-top: 1vh !important;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.carouselMainDiv .carousel-slider .slide {
  margin-top: 5vh;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
  .carouselMainDiv .carousel-slider .slide {
    margin-top: 2vh;
  }
}

.carouselMainDiv .carousel-slider .techno .iconeDiv {
  height: 15vh !important;
  margin-top: 5vh !important;
}

.carouselMainDiv .carousel-slider .techno .iconeDiv .iconeSize {
  font-size: 15vh;
}

.carouselMainDiv .carousel-slider .techno .iconeDiv .iconeSize:hover {
  color: rgba(255, 255, 255, 0.5);
}

.page-footer a:hover {
  color: #90caf9 !important;
}

.page-footer .valign-wrapper a:hover {
  color: #90caf9 !important;
}

.page-footer .footer-copyright {
  padding: 0;
}

.page-footer .footer-copyright a {
  text-decoration: none !important;
}

.page-footer .footer-copyright a:hover {
  color: #90caf9 !important;
}
/*# sourceMappingURL=style.css.map */