*{
    font-family: 'Montserrat', sans-serif;
}
//reset le padding et le margin
.pm0{
    padding: 0;
    margin: 0;
}
.left-text{
    text-align: left;
}
.bold{
    font-weight: bold!important;
}
.blurImg{
    filter: blur(2.5px);
}

.parallax-container{
    //permet d'avoir une hauteur de 80% de l'écran
    height: 80vh!important; 
    nav{
        position: fixed;
        background-color: rgba($color: #000000, $alpha: 0.0)!important;  
        //enlève la box shadow sur la navbar 
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0)!important;
        z-index: 99999;
        a{
            color: white;
            font-weight: bold;
            font-size: 2vh;
        }
    }
}
.header{
    //permet d'aligner tout les textes contenus dans la div
    text-align: center!important;
    background-color: rgba($color: #000000, $alpha: 0.0)!important; 
    //position en x0 et y0 la div est collé en haut à gauche et à une largueur de 100 de l'écran;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw!important;
    .myName{
        margin-top: 25vh; 
        margin-bottom: 20vh;
        background-color: rgba($color: #000000, $alpha: 0.0)!important;
        h1{
            color: black!important;
            font-size: 10vh;
            font-weight: bold!important;
            
        }
    }
    .myJob{
        margin-top: 5vh;
        background-color: rgba($color: #000000, $alpha: 0.0)!important;
        h2{
            color: black!important;
            font-weight: bold!important;
        }
    }
}
////Carousel 
.carouselMainDiv{
    height: 80vh!important;
    .carousel-slider{
        height: 80vh!important;
        .carousel-fixed-item{
            h3{
                font-weight: bold;
            }
            button{
                font-weight: bold;
            }
        }
        .carousel-item{
            h2{
                font-size: 6vh!important;
                font-weight: bold!important;
                padding-top: 3vh!important;
            }
        }
        .slide{
            margin-top: 5vh;
        }
    }
}
///footer
.page-footer{
    .footer-copyright{
        a{
            text-decoration: none;
        }
    }
}
